@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>We believe that in a decade the financial system of the internet — that is, commerce that happens on the internet — will be the largest financial system in the world. And it will be powered by crypto.
    here we will provide you full asistant to get information about the things which based on blockcahin technology.</p>
