@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    ajmer rajasthan<br />
    Redmond, WA 63776-54083<br />
    <abbr title="Phone">Phone:</abbr>
    +916377654083
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:raopavansingh007@gmail.com">raopavansingh007@gmail.com</a><br />
    <strong>facebook:</strong>   <a href="https://www.facebook.com/pavan.singhrao.564">pavan.singhrao.564@facebook.com</a><br />
</address>