@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="https://assets.localcoinatm.com/images/wp-content/uploads/2017/09/18160525/Blockchain-logo.png" width="200"height="170"
    <h1>BLOCKCHAIN GUIDE</h1>
    <p class="lead">blockchain guide bot is a free service bot which provides you assistant for blockchain technology .</p>
</div>

<div class="column">
    <div class="col-md-4">
        <h2>cryptocurrencies </h2>
        <img src="https://tse4.mm.bing.net/th?id=OIP.A8uFWq3q-Yy9P8HBNgN4cAHaE8&pid=Api&P=0&w=237&h=158" width="500" height"300"
    </div>
    <div class="col-md-4">
        <h2>non fungabale token</h2>
        <img src="https://realtimebit.com/wp-content/uploads/logo1edf61b/19-05-21/1621407192_7619.jpg" width="500" height="300"
    </div>
    <div class="col-md-4">
        <h2>web3</h2>
        <img src="https://miro.medium.com/max/7680/1*T40q2Yud8ayg2lm8znNepw@2x.png" width="500" height="300"
    </div>

</div>
<html><head>
    <title>
        my bot
    </title>
</head>
<body>
    <iframe src='https://webchat.botframework.com/embed/blockchainguide-a082-bot?s=ijHX9ZtAoGs.ja-DzjX201DV--uQiVRejNUaM_Yd1Ozw3JczMxDXM_Y'
            style='min-width: 400px; width: 100%; min-height: 500px;'></iframe>
 </body>
</html>